@charset "utf-8";

	#box{
		background-color: #fa8072;
		width: 800px;
		height: 500px;
		margin: auto;
		color: #ffffff;
	}
	
	#box h1{
		text-align: center;
		padding-top: 40px;
	}
	
	#box p{
		text-align: center;
	}
	
	#box ul li{
		padding-left: 100px;
		list-style: none;
	}